* {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}

body {
    text-align: center; 
}

form{
    width: 80%;
}

fieldset {
    border: none;
    border-top: 2px solid black;
}
.container {
    display: flex;
}
.flexbox{
    display: flex;
    flex-direction: column;
}

.zip {
    width: 50%;
}

input[type="submit"] {
    display: inline-block;
    margin: 0 auto;
}

input{
    background-color: pink;
}

input:focus {
    background-color: red;
}